pipeline/filteringdata.json
{
	"name": "filteringdata",
	"properties": {
		"activities": [
			{
				"name": "getemployeedata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "employeefolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "data_filter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "getemployeedata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getemployeedata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'data')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-09-27T04:32:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}